// Mixins acá
.flex(@direction,@justify,@align){
    display: flex;
    flex-direction: @direction;
    justify-content: @justify;
    align-items: @align;
}
.redondear(@radio:20px){
    border-radius: @radio;
}